<div class="container mt-3">
  <h1>Restaurants</h1>
  <div class="card col-6">
    <% @restaurants.each do |restaurant| %>
      <%= render "restaurants/card", restaurant: restaurant %>
    <% end %>
  </div>
</div>
