/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: "Quicksand", sans-serif;
}

.star-rating {
  input {
    visibility: hidden;
    margin-right: 1em;
    font-size: 28px;
    text-shadow: 0.5px 0.5px 3px #E67E23;
  }

  input:before {
    cursor: pointer;
    visibility: visible;
    font-family: 'Font Awesome 6 Free', 'Font Awesome 5 Free';
    content: '\f005';
    font-weight: 900;
    color: #FD4;
    transition: color 0.35s;
  }

  input:hover {
    transform: scale(1.2) translate(-10%, -10%);
  }

  input:checked ~ input:before {
    color: #fff;
  }
}
